Repository Elebrimir/Hcc-app, changes with the labels that .github/labeler.yml gives for each.
All labels: source, tests, documentation, ui, assets, config

Feat README and Version Workflow
  .github/workflows/version-bump.yml
  CHANGELOG.md
  README.md
  pubspec.yaml
Labels: documentation, config

Feat README and Version Workflow
  .github/workflows/version-bump.yml
  CHANGELOG.md
  README.md
  pubspec.yaml
Labels: documentation, config

Bump version to 0.2.0+2
  CHANGELOG.md
  pubspec.yaml
Labels: documentation, config

Arreglar Test Para Main
  .github/workflows/dart.yml
Labels: config

Arreglar Test Para Main
  .github/workflows/dart.yml
Labels: config

Actualizar dart.yml
  .github/workflows/dart.yml
Labels: config

Change Icons Android
  android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
Labels: none

Add Dashboard and test buttons
  lib/main.dart
  lib/pages/dashboard_page.dart
  lib/pages/home_page.dart
  lib/pages/login_page.dart
  lib/pages/registration_page.dart
  linux/flutter/CMakeLists.txt
  pubspec.yaml
  test/registration_page_test.dart
Labels: source, tests, config

Package Update
  android/app/build.gradle.kts
  pubspec.lock
  pubspec.yaml
Labels: config

Add Dashboard and test buttons
  lib/main.dart
  lib/pages/dashboard_page.dart
  lib/pages/home_page.dart
  lib/pages/login_page.dart
  lib/pages/registration_page.dart
  linux/flutter/CMakeLists.txt
  pubspec.yaml
  test/registration_page_test.dart
Labels: source, tests, config

Package Update
  android/app/build.gradle.kts
  pubspec.lock
  pubspec.yaml
Labels: config

Change Icons Android
  android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
Labels: none

Bump version to 0.2.1+3
  CHANGELOG.md
  pubspec.yaml
Labels: documentation, config

Add Profile Page
  lib/pages/dashboard_page.dart
  lib/pages/home_page.dart
  lib/pages/login_page.dart
  lib/pages/profile_page.dart
  lib/widgets/hcc_app_bar.dart
  pubspec.yaml
  test/hcc_app_bar_test.dart
  test/user_model_test.dart
Labels: source, tests, ui, config

Add Profile Page
  lib/pages/dashboard_page.dart
  lib/pages/home_page.dart
  lib/pages/login_page.dart
  lib/pages/profile_page.dart
  lib/widgets/hcc_app_bar.dart
  pubspec.yaml
  test/hcc_app_bar_test.dart
  test/user_model_test.dart
Labels: source, tests, ui, config

Bump version to 0.2.2+4
  CHANGELOG.md
  pubspec.yaml
Labels: documentation, config

Update Github Actions, dart and version-bump
  .github/workflows/dart.yml
  .github/workflows/version-bump.yml
  ios/Podfile
  pubspec.lock
Labels: config

Update Github Actions, dart and version-bump
  .github/workflows/dart.yml
  .github/workflows/version-bump.yml
  ios/Podfile
  pubspec.lock
Labels: config

Bump version to 0.2.3+5
  CHANGELOG.md
  pubspec.yaml
Labels: documentation, config

Ajustar correctamente formato CHANGELOG.md
  .github/workflows/version-bump.yml
Labels: config

Ajustar correctamente formato CHANGELOG.md
  .github/workflows/version-bump.yml
Labels: config

Bump version to 0.2.4+6
  CHANGELOG.md
  pubspec.yaml
Labels: documentation, config

Build Android app on Github Actions for download
  .github/workflows/dart.yml
  android/app/build.gradle.kts
Labels: config

Add Dependabot and Codecov config
  .github/codecov.yml
  .github/dependabot.yml
Labels: config

Add Dependabot and Codecov config
  .github/codecov.yml
  .github/dependabot.yml
Labels: config

.github/labeler.yml:

# Automatically label PRs based on paths

source:
  - "lib/**"

tests:
  - "test/**"

documentation:
  - "README.md"
  - "**/*.md"
  - "doc/**"

ui:
  - "lib/ui/**"
  - "lib/widgets/**"
  - "lib/**/widget.dart"

assets:
  - "assets/**"

config:
  - "pubspec.yaml"
  - ".github/**"
